In [45]:
import random as rd
import pandas as pd
import numpy as np
import regex as re
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as s
import scipy.stats as ss
import warnings 
warnings.filterwarnings('ignore')
import nltk
from nltk.tokenize import sent_tokenize,word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer,LancasterStemmer,SnowballStemmer,WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import emoji
from textblob import TextBlob
import cv2
import os

In [46]:
os.getcwd()

'C:\\Users\\HP\\Downloads\\train'

# CREATING FOLDERS

In [47]:
for i in ["cats","dogs"]:
    os.mkdir(r"C:\Users\HP\\Desktop\168\day-7\\"+i)

In [48]:
os.chdir(r"C:\Users\HP\Downloads\train")

In [49]:
os.getcwd()

'C:\\Users\\HP\\Downloads\\train'

In [50]:
list_ = os.listdir()

In [51]:
cat=[]
dog=[]
for i in list_:
    if "cat" in i:
        cat.append(i)
    else:
        dog.append(i)

# NORMAL CONVERRTION

In [9]:
l1=[]
for y in cat:
    img=cv2.imread(y)
    l1.append(img.flatten())
a=pd.DataFrame({"arrays":l1,"labels":"Cat"})

In [10]:
l2=[]
for x in dog:
    img2=cv2.imread(x)
    l2.append(img2.flatten())
b=pd.DataFrame({"arrays":l2,"labels":"Dog"})

In [12]:
final=pd.concat([a,b])

In [13]:
final

                                                  arrays labels
0      [87, 164, 203, 87, 164, 203, 88, 165, 204, 90,...    Cat
1      [40, 44, 39, 40, 44, 39, 43, 44, 40, 44, 45, 4...    Cat
2      [39, 30, 26, 37, 28, 24, 32, 23, 19, 26, 17, 1...    Cat
3      [220, 225, 224, 219, 224, 223, 219, 224, 223, ...    Cat
4      [75, 112, 140, 75, 112, 140, 79, 116, 144, 81,...    Cat
...                                                  ...    ...
12495  [106, 143, 147, 106, 143, 147, 107, 144, 148, ...    Dog
12496  [85, 114, 145, 94, 123, 154, 39, 69, 98, 22, 5...    Dog
12497  [38, 41, 46, 48, 51, 56, 55, 58, 63, 53, 56, 6...    Dog
12498  [251, 254, 252, 251, 254, 252, 253, 254, 252, ...    Dog
12499  [228, 238, 245, 230, 240, 247, 232, 242, 249, ...    Dog

[25000 rows x 2 columns]

# RESIZED IMAGE CONVERTION

In [20]:
l3=[]
for x in dog:
    img3=cv2.imread(x,0)
    r_s=cv2.resize(img3,(100,100))
    l3.append(r_s.flatten())
b_rs=pd.DataFrame({"arrays":l3,"labels":"Dog"})

In [26]:
l4=[]
for y in cat:
    img3=cv2.imread(y,0)
    r_s2=cv2.resize(img3,(100,100))
    l4.append(r_s2.flatten())
a_rs=pd.DataFrame({"arrays":l3,"labels":"cat"})

In [27]:
resize = pd.concat([a_rs,b_rs])

In [28]:
resize

                                                  arrays labels
0      [119, 109, 152, 160, 160, 165, 130, 134, 136, ...    cat
1      [146, 120, 124, 132, 101, 105, 53, 96, 112, 78...    cat
2      [118, 109, 93, 98, 101, 123, 125, 116, 120, 12...    cat
3      [185, 184, 186, 183, 183, 181, 182, 183, 184, ...    cat
4      [16, 7, 7, 7, 23, 52, 63, 45, 77, 40, 82, 59, ...    cat
...                                                  ...    ...
12495  [140, 143, 142, 145, 146, 147, 148, 149, 148, ...    Dog
12496  [117, 78, 102, 83, 101, 113, 69, 85, 86, 86, 7...    Dog
12497  [42, 35, 47, 58, 65, 46, 51, 57, 58, 40, 44, 4...    Dog
12498  [254, 251, 245, 234, 224, 207, 189, 144, 112, ...    Dog
12499  [240, 241, 243, 243, 242, 243, 247, 252, 247, ...    Dog

[25000 rows x 2 columns]

# SEPARETED IMAGES WITH SEPARETE FOLDERS

In [52]:
y=0
for i in list_:
    y=y+1
    
    if i.startswith("cat"):
        img=cv2.imread(r"C:\Users\HP\Downloads\train\\"+i)
        cv2.imwrite(r"C:\Users\HP\Desktop\168\day-7\cats\\{}.jpg".format(y),img)
    else:
        img1=cv2.imread(r"C:\Users\HP\Downloads\train\\"+i)
        cv2.imwrite(r"C:\Users\HP\\Desktop\168\day-7\dogs\\{}.jpg".format(y),img1)