In [3]:
import requests as rq
from bs4 import BeautifulSoup as bs
import re
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings ('ignore')

In [2]:
t=[]
ra=[]
name=[]
url="https://www.flipkart.com/realme-9i-prism-blue-128-gb/product-reviews/itm3e9987219f652?pid=MOBGBMZHMUHYWFAE&lid=LSTMOBGBMZHMUHYWFAE85XWU8&marketplace=FLIPKART&page="
for i in range(1,51):
    url2 = url+str(i)
    page = rq.get(url2)
    soup = bs(page.text)
    a=soup.find_all('div', class_="t-ZTKy")
    for i in a:
        t.append(i.text)
    b=soup.find_all('div',class_="col _2wzgFH K0kLPL")
    for y in b:
        ra.append(y.text[0])
    c=soup.find_all('p',class_="_2sc7ZR _2V5EHH")
    for u in c:
        name.append(u.text)
df = pd.DataFrame({"Reviews":t,"Ratings":ra,"Names":name})

KeyboardInterrupt:

In [3]:
df

,Reviews,Ratings,Names
0,Overall performance are awesome best camera be...,5,Mukul saini Saini
1,I got what I aspected Performance is awesomeBo...,4,Mahesh Chauhan Chauhan
2,This is a very good looking mobile. Solid feel...,4,Rajesh Sarkare
3,I like it product best camera and best Quality...,4,Flipkart Customer
4,Nice product . In comparison to its predecesso...,5,Manjeet Bhardwaj
...,...,...,...
495,Very goodREAD MORE,5,pranav kaushik
496,NycREAD MORE,3,Tejinder Singh
497,Good üëç phoneREAD MORE,4,SURAJ KUMAR
498,OkREAD MORE,5,Flipkart Customer
499,OsmREAD MORE,5,Ahmad Rif

In [4]:
df.to_csv(r"C:\Users\HP\Downloads\flipkart.csv")

In [4]:
data = pd.read_csv(r"C:\Users\HP\Downloads\flipkart.csv")

In [5]:
data.drop(["Unnamed: 0","Names"],axis=1,inplace=True)

In [6]:
data

                                               Reviews  Ratings
0    Overall performance are awesome best camera be...        5
1    I got what I aspected Performance is awesomeBo...        4
2    This is a very good looking mobile. Solid feel...        4
3    I like it product best camera and best Quality...        4
4    Nice product . In comparison to its predecesso...        5
..                                                 ...      ...
495                                 Very goodREAD MORE        5
496                                       NycREAD MORE        3
497                              Good üëç phoneREAD MORE        4
498                                        OkREAD MORE        5
499                                       OsmREAD MORE        5

[500 rows x 2 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Reviews  500 non-null    object
 1   Ratings  500 non-null    int64
dtypes: int64(1), object(1)
memory usage: 7.9+ KB

* in this dataset 500 rows and 3 columns are there

In [8]:
data.duplicated().sum()

72

In [9]:
data.loc[data.duplicated()]

                                               Reviews  Ratings
10   A good Mobile in this Budget..Great üëçCamera qu...        5
11   The product is fantastic as expected from real...        5
58                                       GoodREAD MORE        5
64                                 Nice phoneREAD MORE        5
74                                    AwesomeREAD MORE        5
..                                                 ...      ...
489                                   AwesomeREAD MORE        5
490                                      NiceREAD MORE        5
493                                     SuperREAD MORE        5
495                                 Very goodREAD MORE        5
498                                        OkREAD MORE        5

[72 rows x 2 columns]

* These are the duplicated rows we need to drop thoose duplicates

In [10]:
data = data.drop_duplicates()

In [11]:
data.reset_index(drop=True,inplace=True)

In [12]:
data.isnull().sum()

Reviews    0
Ratings    0
dtype: int64

* in this dataframe there is no null values are there

In [13]:
def Category(value):
    if value == 1 :
        return "very Bad"
    if value == 2 :
        return "Bad"
    elif value == 3 :
        return "Averge"
    elif value == 4 :
        return "Good"
    elif value == 5 :
        return "Very Good"
data['Category'] = data['Ratings'].map(Category)

* like this i have given a rank to each ratings as a categort

In [14]:
data

                                               Reviews  Ratings   Category
0    Overall performance are awesome best camera be...        5  Very Good
1    I got what I aspected Performance is awesomeBo...        4       Good
2    This is a very good looking mobile. Solid feel...        4       Good
3    I like it product best camera and best Quality...        4       Good
4    Nice product . In comparison to its predecesso...        5  Very Good
..                                                 ...      ...        ...
423                    Great mobile,go for itREAD MORE        5  Very Good
424                                   To goodREAD MORE        3     Averge
425                                       NycREAD MORE        3     Averge
426                              Good üëç phoneREAD MORE        4       Good
427                                       OsmREAD MORE        5  Very Good

[428 rows x 3 columns]

In [15]:
data.Reviews = data.Reviews.apply(lambda x : (x.replace("READ MORE","")))

* in each row initially "READ MORE" word is occused we need to drop this word from entire rows

In [16]:
c = data.copy()

In [17]:
c

                                               Reviews  Ratings   Category
0    Overall performance are awesome best camera be...        5  Very Good
1    I got what I aspected Performance is awesomeBo...        4       Good
2    This is a very good looking mobile. Solid feel...        4       Good
3    I like it product best camera and best Quality...        4       Good
4    Nice product . In comparison to its predecesso...        5  Very Good
..                                                 ...      ...        ...
423                             Great mobile,go for it        5  Very Good
424                                            To good        3     Averge
425                                                Nyc        3     Averge
426                                       Good üëç phone        4       Good
427                                                Osm        5  Very Good

[428 rows x 3 columns]

* this s the final dataset

In [18]:
from nltk.corpus import stopwords
import emoji
from nltk.tokenize import sent_tokenize,word_tokenize
from nltk.stem import PorterStemmer,LancasterStemmer,SnowballStemmer,WordNetLemmatizer

In [19]:
stp = stopwords.words("english")

* saving 'stopwords'

In [20]:
df=[]
for i in c.Reviews:
    l=[]
    ls=i.lower()
    ls=emoji.demojize(ls)
    ls=re.sub("[^a-zA-Z ]","",ls)
    for words in word_tokenize(ls):
        if words in stp:
            pass
        else:
            stems=PorterStemmer().stem(words)
            l.append(stems)
    df.append(" ".join(l))

In [21]:
df = pd.DataFrame({"Cleaned_data":df})

In [22]:
data2 = pd.concat([df,data.Ratings,data.Category],axis=1)

In [23]:
data2

                                          Cleaned_data  Ratings   Category
0    overal perform awesom best camera best connect...        5  Very Good
1    got aspect perform awesomeboth camera good nor...        4       Good
2    good look mobil solid feel camera good day lig...        4       Good
3    like product best camera best qualiti love rea...        4       Good
4    nice product comparison predecessor realm upgr...        5  Very Good
..                                                 ...      ...        ...
423                                     great mobilego        5  Very Good
424                                               good        3     Averge
425                                                nyc        3     Averge
426                                good thumbsup phone        4       Good
427                                                osm        5  Very Good

[428 rows x 3 columns]

* seperate xi ith yi s

In [24]:
fv = data2.drop("Category",axis=1)
cv = data2[["Category"]]

* Now split data for x_train,test

In [25]:
data.Category.value_counts()

Very Good    274
Good          88
very Bad      32
Averge        28
Bad            6
Name: Category, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from imblearn.over_sampling import RandomOverSampler

In [27]:
x_train,x_test,y_train,y_test = train_test_split(fv,cv,train_size=0.8,stratify=cv)

In [28]:
x_train

                                          Cleaned_data  Ratings
305                      nice phone slightlysmilingfac        5
154                                     averag product        3
95                  nice product super lock good realm        5
381  worst qualiti camera front rear camera poor qu...        1
296                                       product good        5
..                                                 ...      ...
98      good phone camera camerawithflash perform good        5
339                                         nice camra        5
75   super smilingfacewithheartsmobilephonesmilingf...        5
26   nice product budget got one day super fast del...        5
386  bought one month ago perform wise execel even ...        4

[342 rows x 2 columns]

In [29]:
x_train = x_train.reset_index(drop=True)

In [30]:
cv1 = CountVectorizer()
array = cv1.fit_transform(x_train.Cleaned_data).toarray()
vac = cv1.vocabulary_

In [31]:
fd = pd.DataFrame(array,columns=sorted(vac.keys()))

In [32]:
fd

,absolut,accord,ad,addit,advic,afford,ago,agre,almost,also,...,wowsmilingfacewithhearteyessmilingfacewithhearteyessmilingfacewithheartey,woww,wowwwi,wowwwww,wowwwwww,write,year,yellowheart,youredheart,zoom
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
338,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
339,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
340,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
341,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [316]:
y_train.value_counts()/len(y_train)

Category
Very Good    0.640351
Good         0.204678
very Bad     0.076023
Averge       0.064327
Bad          0.014620
dtype: float64

In [317]:
y_train = y_train.reset_index(drop=True)

In [295]:
#ros = RandomOverSampler()
#x,y = ros.fit_resample(fd,y_train)

In [296]:
#x_train = pd.DataFrame(x)
#y_train = pd.DataFrame(y)

* balenced datasets

In [33]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB,MultinomialNB,CategoricalNB

In [44]:
knn = KNeighborsClassifier()
kmodel = knn.fit(fd,y_train)

In [45]:
x_test = x_test.reset_index(drop=True)

In [46]:
x_test1 = cv1.transform(x_test.Cleaned_data)

In [47]:
x_test1

<86x728 sparse matrix of type '<class 'numpy.int64'>'
	with 426 stored elements in Compressed Sparse Row format>

In [48]:
predict = kmodel.predict(x_test1)

In [49]:
from sklearn.metrics import accuracy_score

In [50]:
accuracy_score(predict,y_test)

0.627906976744186

In [51]:
mn = MultinomialNB()
gmodel = mn.fit(fd,y_train)

In [52]:
nbp = gmodel.predict(x_test1)

In [53]:
accuracy_score(nbp,y_test)

0.6744186046511628